<!-- wp:template-part {"slug":"header","theme":"plus-pro","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull" style="margin-top:0;margin-bottom:0"><!-- wp:pluspro/pro-spacer {"name":"pluspro/pro-spacer","data":{"field_66845adcebb81":"3","field_66845bc4ebb82":"32"},"mode":"preview"} /-->

<!-- wp:heading {"textAlign":"left","level":1} -->
<h1 class="wp-block-heading has-text-align-left">404</h1>
<!-- /wp:heading -->

<!-- wp:post-content {"lock":{"move":false,"remove":false},"align":"full","layout":{"type":"constrained"}} /-->

<!-- wp:pluspro/pro-spacer {"name":"pluspro/pro-spacer","data":{"field_66845adcebb81":"3","field_66845bc4ebb82":"32"},"mode":"preview"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"plus-pro","tagName":"footer","area":"footer"} /-->