<!-- wp:template-part {"slug":"header","theme":"plus-pro","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull" style="margin-top:0;margin-bottom:0"><!-- wp:pluspro/pro-spacer {"name":"pluspro/pro-spacer","data":{"field_66845adcebb81":"3","field_66845bc4ebb82":"32"},"mode":"preview"} /-->

<!-- wp:query-title {"type":"archive","align":"wide"} /-->

<!-- wp:query {"queryId":0,"query":{"perPage":10,"pages":0,"offset":"0","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"namespace":"core/posts-list","enhancedPagination":true,"align":"wide","className":"facetwp-template","layout":{"type":"constrained"}} -->
<div class="wp-block-query alignwide facetwp-template"><!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|05"}},"layout":{"type":"grid","columnCount":3,"minimumColumnWidth":null}} -->
<!-- wp:group {"style":{"spacing":{"padding":{"right":"0","left":"0","top":"0","bottom":"0"},"blockGap":"0"}},"backgroundColor":"tertiary","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-tertiary-background-color has-background" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"1"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|05","left":"var:preset|spacing|05","top":"var:preset|spacing|05","bottom":"var:preset|spacing|05"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--05);padding-right:var(--wp--preset--spacing--05);padding-bottom:var(--wp--preset--spacing--05);padding-left:var(--wp--preset--spacing--05)"><!-- wp:post-date /-->

<!-- wp:post-title {"level":5,"isLink":true,"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|05","bottom":"var:preset|spacing|05"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--05);padding-bottom:var(--wp--preset--spacing--05)"><!-- wp:query-pagination {"paginationArrow":"arrow","showLabel":false} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers {"midSize":1} /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:group -->

<!-- wp:query-no-results -->
<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
<p></p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query -->

<!-- wp:pluspro/pro-spacer {"name":"pluspro/pro-spacer","data":{"field_66845adcebb81":"3","field_66845bc4ebb82":"32"},"mode":"preview"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"plus-pro","tagName":"footer","area":"footer"} /-->