<!-- wp:template-part {"slug":"header","theme":"plus-pro","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull" style="margin-top:0;margin-bottom:0"><!-- wp:post-featured-image {"aspectRatio":"16/9","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}}} /-->

<!-- wp:pluspro/pro-spacer {"name":"pluspro/pro-spacer","data":{"field_66845adcebb81":"3","field_66845bc4ebb82":"32"},"mode":"preview"} /-->

<!-- wp:post-title {"level":1,"fontSize":"h1"} /-->

<!-- wp:post-content {"lock":{"move":false,"remove":true},"align":"full","layout":{"type":"constrained"}} /-->

<!-- wp:pluspro/pro-spacer {"name":"pluspro/pro-spacer","data":{"field_66845adcebb81":"3","field_66845bc4ebb82":"32"},"mode":"preview"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"plus-pro","tagName":"footer","area":"footer"} /-->